node_modules/
.env
public/uploads/*.jpg
public/uploads/*.jpeg
public/uploads/*.png
public/uploads/*.gif
public/uploads/*.webp
public/uploads/*.mp4
public/uploads/*.pdf
!public/uploads/.gitkeep
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.log
